# Image version
STUDIO_IMAGE_TAG=latest
WEBIDE_IMAGE_TAG=latest
WEBSITE_IMAGE_TAG=latest
DOCS_IMAGE_TAG=latest

# Service ports
STUDIO_PORT=3000
WEBIDE_PORT=3002
WEBSITE_PORT=3004
DOCS_PORT=8080

# CNB Image registry address
STUDIO_IMAGE=docker.cnb.cool/igipme/opif/openpicl/studio
WEBIDE_IMAGE=docker.cnb.cool/igipme/opif/openpicl/webide
WEBSITE_IMAGE=docker.cnb.cool/igipme/opif/openpicl/website
DOCS_IMAGE=docker.cnb.cool/igipme/opif/openpicl/docs